.App {
  text-align: center;
}

.drone-name {
  display: flex;
  margin: auto;
  padding: 10px;
  border-bottom: 1px solid #999;
}

.drone-name input[type="text"] {
  margin-left: 10px;
  font-size: 1.2em;
  padding: 5px;
  width: 400px;
  /* border: none; */
  border-radius: 0.4rem;
  box-sizing: border-box;
}

.new-command {
  display: flex;
  margin: auto;
  padding: 10px;
  border-bottom: 1px solid #999;
}

.new-command input[type="text"] {
  margin-left: 10px;
  font-size: 1.2em;
  padding: 5px;
  width: 400px;
  /* border: none; */
  border-radius: 0.4rem;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

@media all and (min-width: 900px) {
  .container {
    width: 900px;
  }
}